In [15]:
print('Hello world')

Hello world

# import das bibliotecas

In [16]:
import pandas as pd

# Datasets

In [17]:
df_dados_clinicos = pd.read_csv('../datasets/dados_clinicos.csv', sep='|', encoding='latin1')
df_dados_pacientes = pd.read_csv('../datasets/dados_pacientes.csv', sep=';', encoding='utf8')
df_estados_regiao = pd.read_csv('../datasets/estado_regiao.csv', sep=';', encoding='latin1')

In [18]:
df_dados_clinicos.tail(15)

       id_cliente   peso  colesterol     genero
10286        9986   98.2       139.9   Feminino
10287        9987    1.0       159.4  Masculino
10288        9988  173.7       228.0   Feminino
10289        9989  120.6       174.1  Masculino
10290        9990    NaN       150.4  Masculino
10291        9991  181.7       216.3  Masculino
10292        9992   59.6       109.3  Masculino
10293        9993  126.2       173.7   Feminino
10294        9994   82.2       136.0   Feminino
10295        9995   90.5       167.1   Feminino
10296        9996   54.4       132.0   Feminino
10297        9997   53.6       113.4   Feminino
10298        9998  104.2       166.0   Feminino
10299        9999   73.7       151.6   Feminino
10300       10000  189.0       238.6  Masculino

In [19]:
df_dados_pacientes.sample()

,id_cliente,idade,classe_trabalho,escolaridade,id_estado,estado_civil,raca,qtde_filhos,salario
978,894,51,Autônomo,Ensino Fundamental Completo,16,Casado,Branco,4.0,1100

In [20]:
df_estados_regiao.sample()

    id_estado sigla    estado    regiao    pais
18         10    MA  Maranhão  Nordeste  Brasil

In [21]:
def infomais(dataframe):
  ausentes = pd.DataFrame(dataframe.isna().sum()).reset_index()
  ausentes = ausentes[ausentes[0] > 0]
  ausentes = ausentes.rename(columns={'index': 'coluna', 0: 'total'})
  duplicados = dataframe[dataframe.duplicated()]
  print("\n==============")
  print("Describe")
  print(dataframe.describe())
  print("\n==============")
  print("info")
  print(dataframe.info())
  print("\n==============")
  print("Dados ausentes")
  if len(ausentes) > 0:
    print(ausentes)
  else:
    print('sem dados ausentes')
  if len(duplicados) > 0:
    print("\n==============")
    print(f'{len(duplicados)} duplicatas')
    print(duplicados.index)

# Análise prévia

Intruções para correção de dados ausentes:
Moda para variáveis categóricas e Mediana para variáveis numéricas.

In [22]:
infomais(df_estados_regiao)

==============
Describe
       id_estado
count   36.00000
mean    14.00000
std      6.96522
min      1.00000
25%      9.75000
50%     14.00000
75%     18.25000
max     27.00000

==============
info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_estado  36 non-null     int64
 1   sigla      36 non-null     object
 2   estado     36 non-null     object
 3   regiao     36 non-null     object
 4   pais       36 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.5+ KB
None

==============
Dados ausentes
sem dados ausentes

==============
9 duplicatas
Index([18, 19, 20, 21, 22, 23, 24, 25, 26], dtype='int64')

# Tratamento

In [23]:
df_dados_clinicos.drop_duplicates(keep='first', inplace=True)
df_dados_clinicos.fillna({'genero': df_dados_clinicos['genero'].mode()[0]}, inplace=True)
df_dados_clinicos.fillna({'peso': df_dados_clinicos['peso'].median()}, inplace=True)

In [24]:
df_dados_pacientes.drop_duplicates(keep='first', inplace=True)
df_dados_pacientes.fillna({'qtde_filhos': df_dados_pacientes['qtde_filhos'].median()}, inplace=True)
df_dados_pacientes.fillna({'classe_trabalho': df_dados_pacientes['classe_trabalho'].mode()[0]}, inplace=True)
df_dados_pacientes['qtde_filhos'] = df_dados_pacientes['qtde_filhos'].astype('int')

In [25]:
df_estados_regiao.drop_duplicates(keep='first', inplace=True)

In [26]:
df_dados_pacientes['classe_trabalho'].value_counts()

classe_trabalho
Funcionário Setor Privado    5769
Autônomo                      588
Empresário                    496
Servidor Público              299
MEI                           275
Aposentado                    267
Funcionário Público           216
Menor Aprendiz                 85
Desempregado                    3
Estagiário                      1
Name: count, dtype: int64

In [27]:
df_dados_clinicos.tail(15)

       id_cliente   peso  colesterol     genero
10286        9986   98.2       139.9   Feminino
10287        9987    1.0       159.4  Masculino
10288        9988  173.7       228.0   Feminino
10289        9989  120.6       174.1  Masculino
10290        9990  124.6       150.4  Masculino
10291        9991  181.7       216.3  Masculino
10292        9992   59.6       109.3  Masculino
10293        9993  126.2       173.7   Feminino
10294        9994   82.2       136.0   Feminino
10295        9995   90.5       167.1   Feminino
10296        9996   54.4       132.0   Feminino
10297        9997   53.6       113.4   Feminino
10298        9998  104.2       166.0   Feminino
10299        9999   73.7       151.6   Feminino
10300       10000  189.0       238.6  Masculino

# Exportação

In [28]:
df_dados_clinicos.to_csv('../datasets/dados_clinicos_trat.csv', sep=';', encoding='utf-8', index=False)

In [29]:
df_dados_pacientes.to_csv('../datasets/dados_pacientes_trat.csv', sep=';', encoding='utf-8', index=False)

In [30]:
df_estados_regiao.to_csv('../datasets/estado_regiao_trat.csv', sep=';', encoding='utf-8', index=False)